
* {
/*box-sizing:border-box;*/
} 

body {
	margin: 0px;
}

.form {
	display: inline-grid;
	grid-template-columns: auto;
}
.flex2 {
	display: inline-grid;
}
@media only screen and (max-width: 800px) {
	.form  {
		width: 100%;
	}
	.flex2 {
		width: 100%;
	}
}

@media only screen and (min-width: 801px) {
	.form  {
		width: 50%;
	}
	.form-element {
		display: inline-grid;
		grid-template-columns: 1fr 3fr;
		padding: 0rem;
	}
	.flex2 {
		width: 50%;
	}

}
